.pagination {
    --bs-pagination-font-size: 0.8rem;
}

.indicator-progress {
    display: none;
}

[data-indicator="on"] > .indicator-progress {
    display: inline-block;
}

[data-indicator="on"] > .indicator-label {
    display: none;
}

.form-control[readonly]:not(.input),
.form-select[readonly] {
    background-color: rgb(var(--light-rgb));
    color: var(--default-text-color);
}

.uppercase {
    text-transform: uppercase;
}

div:where(.swal2-container) textarea:where(.swal2-textarea) {
    font-size: .8rem !important;
}

[data-nav-style=menu-click][data-nav-layout=horizontal] .app-sidebar .slide.has-sub .slide-menu.child2 {
    z-index: 1;
}

.form-check-input.light:disabled{
    opacity: 1 !important;
}

.form-check-input.light:disabled~.form-check-label,
.form-check-input.light[disabled]~.form-check-label{
    opacity: 1 !important;
}

 /* Scrollbar untuk container horizontal dan vertical */
 .dataTables_scrollBody {
    scrollbar-width: thin !important;
}

/* Scrollbar khusus untuk Chrome, Edge, Safari */
.dataTables_scrollBody::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

/* Styling khusus scrollbar (Webkit: Chrome, Edge, Safari) */
.select2-results__options::-webkit-scrollbar {
    width: 8px !important;
    /* lebar scrollbar */
}

.select2-results__options::-webkit-scrollbar-thumb {
    background-color: #888 !important;
    /* warna drag handle */
    border-radius: 4px !important;
}

.select2-results__options::-webkit-scrollbar-thumb:hover {
    background-color: #555 !important;
    /* warna saat hover */
}

.select2-results__options::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
    /* background track */
}